dt {
    color: darkblue;
    float: left;
}

dd {
    background-color: white;
    margin-left: 10rem;
    padding: 2px;
    padding-left: 15px;
}

dl {
    background-color: lightgray;
    border-bottom-style: double;
    border-top-style: double;
    padding: 2rem;
}

dl:hover {
    background-color: lightblue;
    transition-duration: 0.2s;
    transition-property: all;
}

body {
    background-color: darkblue;
}